@import "../../../../assets/styles/auth-form";
.signup {
  margin-top: 10px;
  .container {
    display: flex;
    padding-top: 136px;

    .page-image {
      margin-left: 222px;
      img {
        vertical-align: bottom;
      }
    }
  }
}

.invalid-errors {
  color: red;
}
