<!-- <div class="overlay" *ngIf="this.loader.getLoading()" class="cssload-container">
  <div class="cssload-speeding-wheel">
    <img src="../../../../assets/images/Loader.png" alt="loader" />
  </div>
</div> -->

<!-- <div *ngIf="this.loader.getLoading()" class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
</div> -->

<div class="lds-spinner" *ngIf="this.loader.getLoading()">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
