@import "./variables";
@import "./mixins";
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.my-container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  // border: 2px solid $background-color-dark-green;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  // color: $grey-text-color;
}
.small-input {
  border: 1px solid #6cac72;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  width: 40px;
  height: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  // color: $green-text-color;
}
.button {
  text-align: center;
  padding: 15px;
  background: $light-blue-color;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;

  &.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-left: 16px;
    }
  }
  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  &.button-in-cart span {
    &:first-child {
      display: block;
    }
    &:last-child {
      display: none;
    }
  }
  &:hover {
    &.button-in-cart span {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-mdc-menu-item.mdc-list-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  a {
    text-decoration: none;
    // color: $grey-text-color;
  }
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  .carousel-title {
    @include head-lora-32;
  }

  .carousel-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      cursor: pointer;
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

h3,
h1 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: $light-blue-color;
}

.carousel-control-prev {
  padding-left: 20px!important;
  justify-content: flex-start !important;
}
.carousel-control-next {
  position: absolute !important;
  right: 50px !important;
  padding-right: 20px !important;
  justify-content: flex-end !important;
}

.ng-star-inserted {
  // max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    max-width: 100%;
  }
}

/* Маленькие устройства (портретные планшеты и большие телефоны, 600px и выше) */
@media only screen and (min-width: 600px) {
}

/* Средние устройства (альбомные планшеты, 768px и выше) */
@media only screen and (min-width: 768px) {
}

/* Большие устройства (ноутбуки / настольные компьютеры, 992px и выше) */
@media only screen and (min-width: 992px) {
  .my-container{
    max-width: 939px;
}}

/* Очень большие устройства (большие ноутбуки и настольные компьютеры, 1200px и выше) */
@media only screen and (min-width: 1200px) {
}
